/* public/css/style.css */

.bg-gradient-1 {
    background: linear-gradient(to right, #F43F5E, #FB923C) !important; /* from-rose-400 to-orange-300 */
    border-radius: 0.75rem !important;
}

.bg-gradient-2 {
    background: linear-gradient(to right, #7C3AED, #9B4DE0) !important; /* from-violet-500 to-purple-500 */
    border-radius: 0.75rem !important;
}

.bg-gradient-3 {
    background: linear-gradient(to right, #22D3EE, #3B82F6) !important; /* from-cyan-400 to-blue-500 */
    border-radius: 0.75rem !important;
}

.bg-gradient-4 {
    background: linear-gradient(to right, #34D399, #14B8A6) !important; /* from-emerald-400 to-teal-500 */
    border-radius: 0.75rem !important;
}

.bg-gradient-5 {
    background: linear-gradient(to right, #D946EF, #F472B6) !important; /* from-fuchsia-500 to-pink-500 */
    border-radius: 0.75rem !important;
}

.bg-gradient-6 {
    background: linear-gradient(to right, #F59E0B, #FB923C) !important; /* from-amber-400 to-orange-500 */
    border-radius: 0.75rem !important;
}

.bg-gradient-7 {
    background: linear-gradient(to right, #4F46E5, #3B82F6) !important; /* from-indigo-400 to-blue-400 */
    border-radius: 0.75rem !important;
}


.dropdown-checkbox {
    position: relative;
    display: inline-block;

  }
  
  .dropdown-checkbox .select-box {
    padding: 13px ;
  }
  
  
  .dropdown-checkbox .options {
    position: absolute;

    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid ;
    border-radius: 4px;

    overflow-y: auto;
    display: none;
    margin-top: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .dropdown-checkbox.open .options {
    display: block;
  }
  
  .dropdown-checkbox label {
    display: block;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    ;
  }
  
  .dropdown-checkbox label:hover {
    background-color: #f8f9fa;
  }
  
  .dropdown-checkbox .options::-webkit-scrollbar {
    width: 8px;
  }
  
  .dropdown-checkbox .options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  .dropdown-checkbox .options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  .dropdown-checkbox .options::-webkit-scrollbar-thumb:hover {
    background: #adb5bd;
  }

  .select-custom{
    padding-inline-start: 0 !important;
  }